<!-- NAME -->
<div class="form-group">
<input type="text" class="form-control input-sm" name="name" ng-model="$parent.entryData.name" placeholder="Name">
</div>

<!-- NAME2 -->
<div class="form-group">
<input type="text" class="form-control input-sm" name="name2" ng-model="$parent.entryData.name2" placeholder="Second Name">
</div>

<!-- SURNAME -->
<div class="form-group">
<input type="text" class="form-control input-sm" name="surname" ng-model="$parent.entryData.surname" placeholder="Last Name">
</div>

<!-- DATE OF BIRTH -->
<div class="form-group">
<input type="text" class="form-control input-sm" name="date_of_birth" ng-model="$parent.entryData.date_of_birth" placeholder="Date Of Birth">
</div>

<!-- GENDER -->
<div class="form-group">
<select class="form-control input-sm" name="gender" ng-model="$parent.entryData.gender"
       ng-options="i for i in ['М', 'Ж']">
</select>
</div>

<!-- POSITION -->
<div class="form-group">
<select class="form-control input-sm" name="position_id" ng-model="$parent.entryData.position_id"
        ng-init="dropdown.positions()" ng-options="i.id as i.value for i in dropdown.items['positions']">
</select>
</div>

<!-- DEPARTMENT -->
<div class="form-group">
<input type="text" class="form-control input-sm" name="department" ng-model="$parent.entryData.department" placeholder="Department">
</div>
